/*  Mídia Queries para responsividade
    Typical Device Breakpoints
    -----------------------------------
    Pequenas Telas: de 600px para baixo
    Celular: de 600px até 768px
    Teblet: de 768px até 992px
    Desktop: de 992px até 1200px
    Grandes Telas: de 1200px para cima
*/
@media (min-width: 480px) {

}

@media (min-width: 768px) { 

}
