/*  Mídia Queries para responsividade
    Typical Device Breakpoints
    -----------------------------------
    Pequenas Telas: de 600px para baixo
    Celular: de 600px até 768px
    Teblet: de 768px até 992px
    Desktop: de 992px até 1200px
    Grandes Telas: de 1200px para cima
*/
@media (min-width: 768px) {
    .home::after {
        background: linear-gradient(90deg, #000000d9, #000000cc 35%, transparent 90%);
    }
    .home .informacoes {
        gap: 32px;
        padding: 80px 40px 80px 60px;
    }
    .home .informacoes img {
        max-width: 150px;
    }
    .bt-assistir-trailer {
        background-color: #4141414b;
    }
}
/* 
@media (min-width: 600) { 
    .navbar-nav {
        text-align: center;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-self: center;
        align-content: center;
        background-color: aliceblue;
    }

} */
