* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /* max-width: 1080px; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  background-color: black;
  width: 100%;
  padding: 8px;
  font-family: sans-serif;
}

 .socais {
  width: 25%;
}

.logo img {
  width: 50px;
  cursor: pointer;
}

.menu {
  /* width: 50%; */
  text-align: left;
  /* background-color: antiquewhite; */
}

.menu nav a {
  color: white;
  text-decoration: none;
  padding: 15px;
  font-size: 18px;
}
.menu nav a:hover {
  border-bottom: 1px solid gray;
}

/* .menu nav a::after {
  contain: " ";
  width: 30px;
  height: 4px;
  background-image: linear-gradient(45deg, pink white);
  position: absolute;
  top: 30px;
  left: 0;
} */

/* .menu nav a:hover::after {
  width: 30px;
} */

.sociais button {
  /* width: 40px; */
  /* height: 30px; */
  /* background-image: linear-gradient(45deg, pink white); */
  background-color: #0016e000;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 5px;
  filter: drop-shadow(0 0 11px #ffffff60);
  transition: 0.4s;
}
.sociais button:hover {
  filter: drop-shadow(0 0 12px #ffffffc5);
  transition: 0.4s;
}
.sociais button img{
  width: 34px;
  border-bottom: 1px solid rgb(126, 126, 126);
  
}

/* .sociais button i {
  font-size: 20px;
} */